@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Dobro došli</h1>
    <p>u našu aplikaciju za bicikle.</p>
    <p> <img width="800" height="500" src="~/Slike/Quad.jpg" /> </p>
</div>
