@{
    ViewData["Title"] = "Privacy";
}
<h1>@ViewData["Title"]</h1>

<p>Matea Raguž</p>
<p>Smjer: Poslovna informatika</p>
<p>Kolegij: Razvoj poslovnih aplikacija</p>
<p>3. godina preddiplomskog studija</p>
<p>Ekonomski fakultet u Osijeku</p>
